body {
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #f7f7f7;
    min-height: 100%;
}

.github-link {
    width: 60px;
    height: 60px;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 1000;
}

.bg-navy {
    background-color: #183D4E;
    color: white;
}

#canvas {
    display: block; 
    width: 100%; 
    height: 480px;
}

#lossGraph {
    display: block; 
    width: 100%; 
    height: 100%;
}

.content {
    padding: 20px 20px 0px 20px;
    min-height: calc(100vh - 56px);
}

.card {
    margin-bottom: 20px;
}

#loss {
    width: 235px;
}

.card-canvas .card-body {
    padding: 0;
}

.card-details .card-body {
    height: 220px;
}
